<html>
    <head>
      <title>{{ title }} - My To-Do List</title>
      <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    </head>
    <body>
        <header class=navigation_top>
          <!-- Our header content will go here -->                  
          <nav>     
              <!-- Our links will go here -->
              <h2>Rock, Paper and Scissors Game</h2>
              <ul >
                <li><a href="/">Home</a></li>    
                <li><a href="/play_game">Play game</a></li>               
                <li><a href="/about">About the game</a></li>
              </ul>
          </nav>     
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>