{% extends "base.html" %}

{% block content %}

<form action="/game_result" method="POST">
    <label for="p1_name">Player 1 name: </label>
    <input type="text" name="player_1_name" id="p1_name">
    <label for="p1_choice">Player 1 choice: </label>
    <select id="p1_choice" name="player_1_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissor">Scissor</option>
    </select>
    <br>
    <label for="p2_name">Player 2 name: </label>
    <input type="text" name="player_2_name" id="p2_name">
    <label for="p2_choice">Player 2 choice: </label>
    <select id="p2_choice" name="player_2_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br>
    <input type="submit" value="Play">


</form>

{% endblock %}